In [1]:
import json
import pandas as pd
import plotly.graph_objects as go

In [2]:
with open('query results\cap_dict.txt', 'r') as file:
    data = file.read()

In [3]:
cap_dict = json.loads(data)

In [4]:
cap_dict

{'p1': {'p9': 3605,
  'p10': 2535,
  'p11': 2281,
  'p12': 2162,
  'p13': 6641,
  'p14': 63025,
  'p15': 108824,
  'p16': 148984,
  'r3': 157949,
  'r4': 240037,
  'n3': 42745,
  'n4': 86876,
  's3': 74116,
  's4': 91906,
  'k2': 95487,
  'q2': 240565},
 'p2': {'p9': 3023,
  'p10': 2179,
  'p11': 3185,
  'p12': 25592,
  'p13': 53465,
  'p14': 130244,
  'p15': 132350,
  'p16': 240514,
  'r3': 138378,
  'r4': 236900,
  'n3': 70946,
  'n4': 116268,
  's3': 189842,
  's4': 55042,
  'k2': 88726,
  'q2': 353560},
 'p3': {'p9': 2436,
  'p10': 3101,
  'p11': 17900,
  'p12': 231042,
  'p13': 351244,
  'p14': 233945,
  'p15': 220167,
  'p16': 87624,
  'r3': 115480,
  'r4': 177089,
  'n3': 179093,
  'n4': 209386,
  's3': 105184,
  's4': 139449,
  'k2': 81258,
  'q2': 305373},
 'p4': {'p9': 1618,
  'p10': 18021,
  'p11': 107560,
  'p12': 632318,
  'p13': 196076,
  'p14': 868715,
  'p15': 90734,
  'p16': 10941,
  'r3': 84602,
  'r4': 99596,
  'n3': 142253,
  'n4': 318639,
  's3': 243234,
  's4': 95020,
  'k2': 70740,
  'q2': 282852},
 'p5': {'p9': 8634,
  'p10': 71046,
  'p11': 248078,
  'p12': 265957,
  'p13': 602410,
  'p14': 199480,
  'p15': 47278,
  'p16': 2205,
  'r3': 123065,
  'r4': 80685,
  'n3': 515444,
  'n4': 196582,
  's3': 141933,
  's4': 181830,
  'k2': 85030,
  'q2': 462595},
 'p6': {'p9': 77062,
  'p10': 136138,
  'p11': 143835,
  'p12': 292585,
  'p13': 118154,
  'p14': 14195,
  'p15': 4814,
  'p16': 4406,
  'r3': 180152,
  'r4': 115236,
  'n3': 164046,
  'n4': 118381,
  's3': 190920,
  's4': 82128,
  'k2': 112831,
  'q2': 266645},
 'p7': {'p9': 241392,
  'p10': 109571,
  'p11': 125801,
  'p12': 59513,
  'p13': 10871,
  'p14': 3065,
  'p15': 3129,
  'p16': 4756,
  'r3': 160645,
  'r4': 103998,
  'n3': 108457,
  'n4': 60845,
  's3': 72649,
  's4': 140441,
  'k2': 116018,
  'q2': 244562},
 'p8': {'p9': 149138,
  'p10': 109123,
  'p11': 85519,
  'p12': 8286,
  'p13': 1902,
  'p14': 2485,
  'p15': 3229,
  'p16': 5078,
  'r3': 156393,
  'r4': 104707,
  'n3': 85173,
  'n4': 44937,
  's3': 106198,
  's4': 119563,
  'k2': 132771,
  'q2': 214826},
 'p9': {'p1': 4858,
  'p2': 3173,
  'p3': 2540,
  'p4': 1810,
  'p5': 5823,
  'p6': 72219,
  'p7': 108753,
  'p8': 133155,
  'r1': 110725,
  'r2': 164157,
  'n1': 52069,
  'n2': 88481,
  's1': 136373,
  's2': 119336,
  'q1': 251216,
  'k1': 130355},
 'p10': {'p1': 4525,
  'p2': 3050,
  'p3': 3216,
  'p4': 9713,
  'p5': 55503,
  'p6': 138947,
  'p7': 106063,
  'p8': 272291,
  'r1': 102549,
  'r2': 163002,
  'n1': 63980,
  'n2': 115924,
  's1': 135633,
  's2': 78975,
  'q1': 265408,
  'k1': 114446},
 'p11': {'p1': 4042,
  'p2': 4650,
  'p3': 18754,
  'p4': 99832,
  'p5': 276645,
  'p6': 143637,
  'p7': 135777,
  'p8': 70072,
  'r1': 112943,
  'r2': 187386,
  'n1': 116665,
  'n2': 214969,
  's1': 78952,
  's2': 241191,
  'q1': 288657,
  'k1': 103377},
 'p12': {'p1': 3122,
  'p2': 35647,
  'p3': 204138,
  'p4': 484982,
  'p5': 168755,
  'p6': 248136,
  'p7': 66308,
  'p8': 11089,
  'r1': 94726,
  'r2': 146834,
  'n1': 205183,
  'n2': 490096,
  's1': 194474,
  's2': 147035,
  'q1': 357882,
  'k1': 83661},
 'p13': {'p1': 10987,
  'p2': 73922,
  'p3': 496466,
  'p4': 183348,
  'p5': 852431,
  'p6': 133046,
  'p7': 16939,
  'p8': 2048,
  'r1': 103479,
  'r2': 94310,
  'n1': 298658,
  'n2': 190265,
  's1': 108382,
  's2': 287216,
  'q1': 275166,
  'k1': 62654},
 'p14': {'p1': 71405,
  'p2': 183806,
  'p3': 280814,
  'p4': 331552,
  'p5': 178100,
  'p6': 15768,
  'p7': 2866,
  'p8': 2613,
  'r1': 158465,
  'r2': 109769,
  'n1': 224179,
  'n2': 361317,
  's1': 146863,
  's2': 117966,
  'q1': 333297,
  'k1': 71679},
 'p15': {'p1': 263899,
  'p2': 149487,
  'p3': 162411,
  'p4': 59734,
  'p5': 15365,
  'p6': 3167,
  'p7': 2299,
  'p8': 3348,
  'r1': 219300,
  'r2': 133764,
  'n1': 131272,
  'n2': 69511,
  's1': 60681,
  's2': 183537,
  'q1': 327800,
  'k1': 82416},
 'p16': {'p1': 150406,
  'p2': 109752,
  'p3': 57924,
  'p4': 5480,
  'p5': 1838,
  'p6': 2343,
  'p7': 2733,
  'p8': 4049,
  'r1': 237077,
  'r2': 154747,
  'n1': 96263,
  'n2': 41101,
  's1': 91424,
  's2': 87197,
  'q1': 235596,
  'k1': 87748},
 'r1': {'p9': 8124,
  'p10': 12894,
  'p11': 17165,
  'p12': 17458,
  'p13': 15444,
  'p14': 19063,
  'p15': 19701,
  'p16': 12030,
  'r3': 404104,
  'r4': 542272,
  'n3': 85197,
  'n4': 133110,
  's3': 162278,
  's4': 113800,
  'k2': 189715,
  'q2': 311679},
 'r2': {'p9': 15083,
  'p10': 34224,
  'p11': 30413,
  'p12': 22189,
  'p13': 16869,
  'p14': 13743,
  'p15': 11271,
  'p16': 7804,
  'r3': 518084,
  'r4': 415402,
  'n3': 138287,
  'n4': 106389,
  's3': 134043,
  's4': 174812,
  'k2': 198662,
  'q2': 316530},
 'r3': {'p1': 8158,
  'p2': 11469,
  'p3': 14607,
  'p4': 15932,
  'p5': 19278,
  'p6': 28115,
  'p7': 30468,
  'p8': 14868,
  'r1': 415174,
  'r2': 530105,
  'n1': 110877,
  'n2': 154046,
  's1': 179476,
  's2': 121670,
  'q1': 322475,
  'k1': 181663},
 'r4': {'p1': 12627,
  'p2': 21380,
  'p3': 20586,
  'p4': 15480,
  'p5': 15294,
  'p6': 17860,
  'p7': 13116,
  'p8': 8102,
  'r1': 541249,
  'r2': 423314,
  'n1': 147495,
  'n2': 85535,
  's1': 113160,
  's2': 154519,
  'q1': 318370,
  'k1': 178335},
 'n1': {'p9': 21429,
  'p10': 72589,
  'p11': 70270,
  'p12': 108762,
  'p13': 110521,
  'p14': 106201,
  'p15': 59368,
  'p16': 48281,
  'r3': 155630,
  'r4': 164171,
  'n3': 582036,
  'n4': 224423,
  's3': 715439,
  's4': 374481,
  'k2': 109970,
  'q2': 435717},
 'n2': {'p9': 89667,
  'p10': 58535,
  'p11': 127346,
  'p12': 116424,
  'p13': 105959,
  'p14': 57488,
  'p15': 154547,
  'p16': 12348,
  'r3': 169937,
  'r4': 122579,
  'n3': 232341,
  'n4': 610639,
  's3': 421612,
  's4': 776532,
  'k2': 146020,
  'q2': 419477},
 'n3': {'p1': 13284,
  'p2': 114558,
  'p3': 57577,
  'p4': 79115,
  'p5': 142707,
  'p6': 132775,
  'p7': 62230,
  'p8': 78606,
  'r1': 127589,
  'r2': 191061,
  'n1': 571623,
  'n2': 231646,
  's1': 776636,
  's2': 457512,
  'q1': 434303,
  'k1': 113126},
 'n4': {'p1': 58074,
  'p2': 56118,
  'p3': 105200,
  'p4': 153174,
  'p5': 67901,
  'p6': 84284,
  'p7': 67671,
  'p8': 19568,
  'r1': 154362,
  'r2': 164773,
  'n1': 226370,
  'n2': 670103,
  's1': 367122,
  's2': 680182,
  'q1': 497015,
  'k1': 91756},
 's1': {'p9': 40369,
  'p10': 209417,
  'p11': 44327,
  'p12': 97036,
  'p13': 62067,
  'p14': 60652,
  'p15': 28739,
  'p16': 32739,
  'r3': 191166,
  'r4': 170116,
  'n3': 372951,
  'n4': 266132,
  's3': 853794,
  's4': 0,
  'k2': 242248,
  'q2': 582420},
 's2': {'p9': 57958,
  'p10': 40116,
  'p11': 158664,
  'p12': 97306,
  'p13': 125673,
  'p14': 61769,
  'p15': 268171,
  'p16': 28102,
  'r3': 184763,
  'r4': 175734,
  'n3': 259201,
  'n4': 419076,
  's3': 0,
  's4': 793093,
  'k2': 192397,
  'q2': 396926},
 's3': {'p1': 23033,
  'p2': 293367,
  'p3': 54341,
  'p4': 106678,
  'p5': 68810,
  'p6': 138331,
  'p7': 34195,
  'p8': 53140,
  'r1': 175450,
  'r2': 211786,
  'n1': 350709,
  'n2': 256809,
  's1': 870803,
  's2': 0,
  'q1': 423435,
  'k1': 143799},
 's4': {'p1': 37924,
  'p2': 26638,
  'p3': 63692,
  'p4': 49755,
  'p5': 97247,
  'p6': 41993,
  'p7': 208347,
  'p8': 35085,
  'r1': 181229,
  'r2': 208267,
  'n1': 272176,
  'n2': 323234,
  's1': 0,
  's2': 828737,
  'q1': 639873,
  'k1': 182918},
 'k1': {'p9': 0,
  'p10': 0,
  'p11': 0,
  'p12': 0,
  'p13': 0,
  'p14': 0,
  'p15': 0,
  'p16': 0,
  'r3': 0,
  'r4': 0,
  'n3': 0,
  'n4': 0,
  's3': 0,
  's4': 0,
  'k2': 0,
  'q2': 0},
 'k2': {'p1': 0,
  'p2': 0,
  'p3': 0,
  'p4': 0,
  'p5': 0,
  'p6': 0,
  'p7': 0,
  'p8': 0,
  'r1': 0,
  'r2': 0,
  'n1': 0,
  'n2': 0,
  's1': 0,
  's2': 0,
  'q1': 0,
  'k1': 0},
 'q1': {'p9': 31037,
  'p10': 46815,
  'p11': 36143,
  'p12': 35042,
  'p13': 24905,
  'p14': 28565,
  'p15': 25251,
  'p16': 27375,
  'r3': 216910,
  'r4': 220823,
  'n3': 162673,
  'n4': 161105,
  's3': 142194,
  's4': 157022,
  'k2': 196380,
  'q2': 1063139},
 'q2': {'p1': 25743,
  'p2': 25563,
  'p3': 29410,
  'p4': 24365,
  'p5': 29998,
  'p6': 39594,
  'p7': 49292,
  'p8': 30103,
  'r1': 232010,
  'r2': 240327,
  'n1': 165980,
  'n2': 161563,
  's1': 168290,
  's2': 136357,
  'q1': 1085165,
  'k1': 172269}}

In [5]:
cap_df = pd.read_json(data)

In [8]:
black_df = cap_df.iloc[:16]
white_df = cap_df.iloc[16:]

In [9]:
black_df = black_df.dropna(axis=1).stack()
white_df = white_df.dropna(axis=1).stack()

In [11]:
black_df.index

MultiIndex([('p9', 'p1'),
            ('p9', 'p2'),
            ('p9', 'p3'),
            ('p9', 'p4'),
            ('p9', 'p5'),
            ('p9', 'p6'),
            ('p9', 'p7'),
            ('p9', 'p8'),
            ('p9', 'r1'),
            ('p9', 'r2'),
            ...
            ('q2', 'p7'),
            ('q2', 'p8'),
            ('q2', 'r1'),
            ('q2', 'r2'),
            ('q2', 'n1'),
            ('q2', 'n2'),
            ('q2', 's1'),
            ('q2', 's2'),
            ('q2', 'k1'),
            ('q2', 'q1')],
           length=256)